<h1>Flights Index</h1>

<section>
  <% @flights.each do |flight| %>
    <section id="flight-<%= flight.id %>">
      <%= flight.id %>
      <%= flight.airline.id %>
    </section>
  <% end %>
</section>