<h1>Flights Index</h1>

<section>
  <% @flights.each do |flight| %>
    <section id="flight-<%= flight.id %>">
      Flight Number: <%= flight.number %><br>
      Airline: <%= flight.airline.name %><br>
      Passengers:<br>
      <% flight.passengers.each do |passenger| %>
        <%= passenger.name %>
      <% end %>
    </section><br>
  <% end %>
</section>