<h1><%= @airline.name %></h1>
<section>
  All Passengers:<br><br>
  <% @airline.all_passengers.each do |passenger| %>
    Name: <%= passenger.name %>
    Age: <%= passenger.age%><br>
  <% end %>
</section>